<!DOCTYPE html>
<html lang="en" ng-app="libraryApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <title>Library Management System</title>
</head>
<body ng-controller="LibraryController">
    <div class="container my-3" >
		<h1>Student Dream Box Library</h1>
		<hr />
		<div style="display: flex; flex-direction: row;" class="row">
			<div class=" col-4" >
				<div class="container-fluid">
					<div ">
						<nav id="sidebar" class=" d-md-block bg-light sidebar">
							<div >
								<ul class="nav flex-column" style="gap: 29px">
									<li class="nav-item" style="cursor: pointer;">
										<a class="nav-link " ng-click="changeTab('allbooks')" ng-class="{ 'active': curTab === 'allbooks' }">
											All Books
										</a>
									</li>
									<li class="nav-item" style="cursor: pointer;">
										<a class="nav-link" ng-click="changeTab('addbook')" ng-class="{ 'active': curTab === 'addbook' }">
											Add Books
										</a>
									</li>
									<li class="nav-item" style="cursor: pointer;">
										<a class="nav-link" ng-click="changeTab('issuedbooklist')" ng-class="{ 'active': curTab === 'issuedbooklist' }"> 
											Issue Book List
										</a>
									</li>
									<li class="nav-item" style="cursor: pointer;">
										<a class="nav-link" ng-click="changeTab('avlbooks')" ng-class="{ 'active': curTab === 'avlbooks' }">
											Available Books
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div ng-show="curTab == 'home'" > 
					Wellcome to Student Dream Box
				</div>
				 
				<div ng-show="curTab == 'addbook'"  class="row">
					<form ng-submit="addBook()" class="col-5">
						<div class="form-group">
							<label for="exampleInputEmail1">Book Name</label>
							<input type="text" class="form-control" ng-model="bookName" />
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Author</label>
							<input type="text" class="form-control" ng-model="author" />
						</div>
						<div class="form-group">
							<label for="bookType">Book Type</label>
							<select class="form-control" ng-model="bookType">
								<option ng-repeat="type in bookTypes" value="{{type}}">{{type}}</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Add Book</button>
					</form>
				</div> 
				<div ng-show="curTab == 'issuebook'">
					<h1 style="margin-bottom: 17px;">Issue Book</h1>
					<div>
						<form ng-submit="issueBook()" class="col-5">
							<div class="form-group">
								<label for="bookName">Book Name</label>
								<input type="text" class="form-control" ng-model="oIssueBook.name" id="bookName"/>
							</div>
							<div class="form-group">
								<label for="author">Author</label>
								<input type="text" class="form-control" ng-model="oIssueBook.author" id="author"/>
							</div>
							<div class="form-group">
								<label for="stuId">Student ID</label>
								<input type="text" class="form-control" ng-model="oIssueBook.stuId"  id="stuId"/>
							</div>
							<div class="form-group">
								<label for="stuName">Student Name</label>
								<input type="text" class="form-control" ng-model="oIssueBook.stuName"  id="stuName"/>
							</div>
							<div class="form-group">
								<label for="issueDate">Issue Date</label>
								<input type="date" class="form-control" ng-model="oIssueBook.issueDate"  id="issueDate"/>
							</div>
							<div class="form-group">
								<label for="bookType">Book Type</label>
								<select class="form-control" ng-model="oIssueBook.type" id="bookType">
									<option ng-repeat="type in bookTypes" value="{{type}}" ng-selected="oIssueBook.type == type">{{type}}</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">Issue Book</button>
						</form>
					</div>
				</div>
				<div ng-show="curTab == 'avlbooks'">
					<div style="margin-top: 60px;" >
						<h1>View Books List</h1>
						<div>
							<label for="viewBookType">Select Book Type</label>
							<select class="form-control" ng-model="viewBookType" ng-change="resetListBook()">
								<option ng-repeat="type in bookTypes" value="{{type}}">{{type}}</option>
							</select>
						</div>
						<div style="margin-top: 20px;">
							<button ng-click="viewBook('A')" ng-disabled="!viewBookType" class="btn  btn-primary">search Books</button>
						</div>
					</div>
					
					<div ng-show="books.length > 0" >
						<h2 style="margin-top: 15px;">{{viewBookType}} Available Books in the Library</h2>
						<div class="row" style="display: flex; justify-content: flex-end;margin: 22px 15px;">
							<span class="text-muted font-weight-bold" style="margin: 7px 15px;">Search</span>	<input  class="col-3 form-control" type="text" ng-model="filterText" placeholder="Filter by Book Name" / >
						</div>
						<table class="table table-striped table-bordered table-hover" ng-show="books.length > 0">
							<thead class="thead-dark">
								<tr>
									<th>S.No</th>
									<th>Book Name</th>
									<th>Author</th>
									<th>Type</th>
									<th>Issue</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="book in books | filter: filterText">
									<td>{{$index + 1}}</td>
									<td>{{book.name}}</td>
									<td>{{book.author}}</td>
									<td>{{book.type}}</td>
									<td><button  class="btn btn-primary" ng-click="onIssue($index)">Issue Book</button></td>
								</tr>
							</tbody>
						</table>
					</div>
		
				</div>
				<div ng-show="curTab == 'issuedbooklist'">
					<div style="margin-top: 60px;" >
						<h1>Issued Books </h1>
						<div>
							<label for="viewBookType">Select Book Type</label>
							<select class="form-control" ng-model="viewBookType" ng-change="resetListBook()">
								<option ng-repeat="type in bookTypes" value="{{type}}">{{type}}</option>
							</select>
						</div>
						<div style="margin-top: 20px;">
							<button ng-click="viewBook('I')" ng-disabled="!viewBookType" class="btn  btn-primary">search Books</button>
						</div>
					</div>
					
					<div ng-show="books.length > 0" >
						<h2 style="margin-top: 15px;">{{viewBookType}} Issued Books in the Library</h2>
						<div class="row" style="display: flex; justify-content: flex-end;margin: 22px 15px;">
							<span class="text-muted font-weight-bold" style="margin: 7px 15px;">Search</span>	<input  class="col-3 form-control" type="text" ng-model="filterText" placeholder="Filter by Book Name" / >
						</div>
						<table class="table table-striped table-bordered table-hover" ng-show="books.length > 0">
							<thead class="thead-dark">
								<tr>
									<th>S.No</th>
									<th>Book Name</th>
									<th>Author</th>
									<th>Type</th>
									<th>Student Name</th>
									<th>Student ID</th>
									<th>Issue Date</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="book in books | filter: filterText">
									<td>{{$index + 1}}</td>
									<td>{{book.name}}</td>
									<td>{{book.author}}</td>
									<td>{{book.type}}</td>
									<td>{{book.stuName}}</td>
									<td>{{book.stuId}}</td>
									<td>{{book.issueDate | date:'dd-MM-yyyy'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
		
				</div>
				<div ng-show="curTab == 'allbooks'">
					<div class="row" style="display: flex; justify-content: flex-end;margin: 22px 15px;">
						<span class="text-muted font-weight-bold" style="margin: 7px 15px;">Search</span>	<input  class="col-3 form-control" type="text" ng-model="filterText" placeholder="Filter by Book Name" / >
					</div>
					<table class="table table-striped table-bordered table-hover" ng-show="books.length > 0">
						<thead class="thead-dark">
							<tr>
								<th>S.No</th>
								<th>Book Name</th>
								<th>Author</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="book in books | filter: filterText">
								<td>{{$index + 1}}</td>
								<td>{{book.name}}</td>
								<td>{{book.author}}</td>
								<td>{{book.type}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		
	</div>

	
</body>

</html>
